In [51]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

#Data import

In [52]:
data1 = pd.read_excel('dane5000.xlsx')

In [53]:
data1

     DATA_OPERACJI   ID_UMOWY  ... KATEGORIA_WG_TYTULU NADKATEGORIA
0         15/02/02  112702005  ...                 NaN          NaN
1         15/04/24  769072013  ...       WPŁATA_WLASNA          NaN
2         15/05/29  758012013  ...              POBORY       POBORY
3         15/07/08  521042011  ...                 NaN          NaN
4         15/07/09  240882006  ...              POBORY       POBORY
...            ...        ...  ...                 ...          ...
4995      15/05/08  688462013  ...            PROWIZJA          NaN
4996      15/05/13   57252005  ...              POBORY       POBORY
4997      15/05/26  286032008  ...   WYPŁATA_GOTÓWKOWA          NaN
4998      15/06/26  110642005  ...              CZYNSZ     RACHUNKI
4999      15/08/05  628592012  ...            SAMORZĄD          NaN

[5000 rows x 13 columns]

# Benfrod

##Data preprocessing

In [54]:
IDs = data1['ID_UMOWY'].unique()
IDs

array([112702005, 769072013, 758012013, ..., 924112015, 195152005,
       688462013])

In [55]:
data1['ID_UMOWY'].nunique()

2754

Mamy zbyt mało danych dotyczących jednego klienta, przypada średnio niecałe 2 transkacje na 1 klienta.

Na potrzeby projektu tworzę 5 unikalnych ID 1,2,3,4,5.

In [56]:
import random
data1['ID_UMOWY'] = data1['ID_UMOWY'].apply(lambda x: random.randint(1,5))
data1 = data1.iloc[:200,:]
data1

    DATA_OPERACJI  ID_UMOWY  ... KATEGORIA_WG_TYTULU NADKATEGORIA
0        15/02/02         5  ...                 NaN          NaN
1        15/04/24         4  ...       WPŁATA_WLASNA          NaN
2        15/05/29         2  ...              POBORY       POBORY
3        15/07/08         4  ...                 NaN          NaN
4        15/07/09         3  ...              POBORY       POBORY
..            ...       ...  ...                 ...          ...
195      15/05/05         5  ...            PROWIZJA          NaN
196      15/05/21         4  ...   WYPŁATA_GOTÓWKOWA          NaN
197      15/06/03         4  ...   WYPŁATA_GOTÓWKOWA          NaN
198      15/06/24         5  ...              KREDYT          NaN
199      15/08/26         5  ...   WYPŁATA_GOTÓWKOWA          NaN

[200 rows x 13 columns]

In [57]:
data1['ID_UMOWY'].nunique()

5

Teraz mamy 5 unikalnych klientów

In [58]:
obciazenie = data1[['ID_UMOWY','KWOTA_OBCIAZENIA']]
obciazenie

     ID_UMOWY  KWOTA_OBCIAZENIA
0           5              0.00
1           4              0.00
2           2              0.00
3           4           1256.83
4           3              0.00
..        ...               ...
195         5              0.50
196         4             50.00
197         4            400.00
198         5            192.00
199         5           1100.00

[200 rows x 2 columns]

In [60]:
numbers = data1[data1['ID_UMOWY'] == 1]['KWOTA_OBCIAZENIA'].tolist()
numbers

[0.0,
 152.88,
 107.93,
 50.0,
 3667.84,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 495.0,
 100.0,
 1526.11,
 500.0,
 1660.0,
 721.52,
 2061.72,
 25.79,
 1176.0,
 260.96,
 0.0,
 30.0,
 1816.64,
 4866.1,
 0.0,
 4000.0,
 0.0,
 0.0,
 1007.27,
 200.0,
 6899.91,
 72.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 77.0,
 385.81,
 1.0,
 1641.77,
 36.91,
 121.83]

Funkcja zliczająca liczby zgodnie z regułą Benforda

In [61]:
# # c.d. above

# class Car:
#   def __init__(self, brand, isAirBagOk, isPaintingOk, isMechanicOk): 
#     self.brand = brand
#     self.isAirBagOk = isAirBagOk
#     self.isPaintingOk = isPaintingOk
#     self.isMechanicOk = isMechanicOk

# car_01 = Car('Seat',True,True,True) # instancje klasy 
# car_02 = Car('Opel',True,True,True)

# print(car_01.brand, car_01.isAirBagOk, car_01.isPaintingOk, car_01.isMechanicOk)
# print(car_02.brand, car_02.isAirBagOk, car_02.isPaintingOk, car_02.isMechanicOk)

class Benford:
    # numbers = []

   def __init__(self, numbers):
      self.numbers = numbers

      for i in numbers:
          txt = str(i)
          numbers.append(txt[0])

      ones = []
      twos = []
      threes = []
      fours = []
      fives = []
      sixs = []
      sevens = []
      eights = []
      nines = []

      numbersInt = []

      for i in numbers:
          numbersInt.append(int(i))

      for i in numbersInt:
          if i == 1:
              ones.append(i)
          elif i == 2:
              twos.append(i)
          elif i == 3:
              threes.append(i)
          elif i == 4:
              fours.append(i)
          elif i == 5:
              fives.append(i)
          elif i == 6:
              sixs.append(i)
          elif i == 7:
              sevens.append(i)
          elif i == 8:
              eights.append(i)
          elif i == 9:
              nines.append(i)

      ones_percent = len(ones)/len(numbersInt)
      twos_percent = len(twos)/len(numbersInt)
      threes_percent = len(threes)/len(numbersInt)
      fours_percent = len(fours)/len(numbersInt)
      fives_percent = len(fives)/len(numbersInt)
      sixes_percent = len(sixs)/len(numbersInt)
      sevens_percent = len(sevens)/len(numbersInt)
      eights_percent = len(eights)/len(numbersInt)
      nines_percent = len(nines)/len(numbersInt)

      BenfordClientDist = [ones_percent,twos_percent,threes_percent,fours_percent,fives_percent,sixes_percent,sevens_percent,eights_percent,nines_percent]

      return BenfordClientDist

      def CheckBenfords(self):
        
        a = 0.301
        b = 0.176
        c = 0.125
        d = 0.097
        e = 0.079
        f = 0.067
        g = 0.058
        h = 0.051
        i = 0.046

        BenfordNaturalDist = [a,b,c,d,e,f,g,h,i]
        BenfordsControl = False
        escalationReport = []
        BenfordClientDist = Benford(self)

        for i in range(1,10):
          if abs(BenfordNaturalDist[i] - BenfordClientDist[i]) > 0.1:
            escalationReport.append(1)
        
          if escalationReport.sum() > 2:
            BenfordsControl = True

        return BenfordsControl

Funkcja sprawdzająca czy rozkład Benforda jest zgodny z naturalnym rozłożeniem liczb czy też nie

Występowanie cyfr jako pierwszych w liczbach

1 - 30.1%	2 - 17.6%	3 - 12.5%	4 - 9.7%	5 - 7.9%	6 - 6.7%	7 - 5.8%	8 - 5.1%	9 - 4.6%

W naszym modelu założyliśmy, że eskalacja testu Benforda powinna dotyczyć każdej osoby której przynajmniej 2 liczby odbiegają od przyjętej powyżej normy o conajmniej 10%

In [63]:
a = 0.301
b = 0.176
c = 0.125
d = 0.097
e = 0.079
f = 0.067
g = 0.058
h = 0.051
i = 0.046

BenfordNaturalDist = [a,b,c,d,e,f,g,h,i]

def checkBenfords(BenfordClientDist):
  BenfordsControl = False

  escalationReport = []
  for i in range(1,10):
    if abs(BenfordNaturalDist[i] - BenfordClientDist[i]) > 0.1:
      escalationReport.append(1)
  
  if escalationReport.sum() > 2:
    return True

Tworzę listę unikalnych IDs

In [64]:
listaIDs = list(obciazenie['ID_UMOWY'].unique())
listaIDs

[5, 4, 2, 3, 1]

dla każdego z 5 klientów sprawdzę rozkład kwot obciążenia konta wg. Reguły Benforda

In [65]:
def CheckClientBenford(ClientsID):
  numbers = obciazenie[obciazenie['ID_UMOWY']==ClientsID]['KWOTA_OBCIAZENIA'].tolist()
  BenfordClientDist = Benford(numbers)
  checkBenfords(BenfordClientDist)

# Fraudster profiles

source: https://home.kpmg/xx/en/home/insights/2016/05/global-profiles-of-the-fraudster.html

between the ages of 36 and 55 (69 percent of fraudsters investigated)
predominantly male (79 percent), with the proportion of women on the rise at 17 percent, up from 13 percent in 2010
a threat from within (65 percent are employed by the company)
holds an executive or director level position (35 percent)
employed in the organization for at least six years (38 percent)
described as autocratic (18 percent) and are three times as likely to be regarded as friendly as not
esteemed, describing themselves as well-respected in their organization
likely to have colluded with others (62 percent of frauds, down just slightly from 70 percent in the 2013 survey)
motivated by personal gain (60 percent), greed (36 percent) and the sense of ‘because I can’ (27 percent).

In [66]:
import pandas as pd 
data2 = pd.read_excel('dane_do_nauki.xlsx')

In [67]:
data2.rename(columns = {'Czy potencjalny Frauder [ 0 - nie , 1 - tak' : 'Czy wypływy wieksze od dochodu'}, inplace = True)

Na potrzeby projektu wycinam jedynie 5 pierwszych wierszy, dla 5 różnych klientów

In [68]:
data2 = data2.iloc[0:5]

In [69]:
data2

   plec [0 - kobieta, 1 - mezczyzna]  ...  Czy jest Frauderem  [0 - Nie / 1 - Tak]
0                                  0  ...                                        0
1                                  1  ...                                        1
2                                  0  ...                                        0
3                                  1  ...                                        0
4                                  1  ...                                        0

[5 rows x 12 columns]

Dodaje kolumne z przykladowym ID od 1 do 5 dla

In [70]:
ids = [1,2,3,4,5]

In [71]:
data2['Clients ID'] = ids

In [72]:
def Profile(cols):
  Fraud = False

  wiek = cols[1]
  kraj = cols[2]
  dochod = cols[3]
  wyksztalcenie = cols[7]
  doswiadczenie = cols[8]
  zawod = cols[9]
  wplywyWiekszeOdDochodu = cols[10]

 #Zawód na ptorzeby projektu - 53 oraz 23 oznaczają rachunkowość, sprzedaż i primary operations
 # Na potrzeby projektu przez pochodzenie rozumiemy kraj, w którym dana osoba prowadzi działalność finansową. 85 i 51 to kraje wysokiego ryzyka jak np. Liban, Chiny, Iran

  if wiek >= 36 and wiek < 55and doswiadczenie >= 6 and zawod == 53 or zawod == 23 and wyksztalcenie > 2 and dochod >= 10000 and kraj == 85 or kraj == 22:
      Fraud = True

  return Fraud

In [ ]:
data2['FraudDetectionProfile'] = False

In [ ]:
data2[['plec [0 - kobieta, 1 - mezczyzna]','wiek','pochodzenie','dochód miesieczny','miesieczne wplywy na konto','miesieczne wydatki z konta','czy posiada kredyt [0 - Nie / 1 - Tak]','Wyksztalcenie [0 - brak, 1 - podstawowe, 2 - srednie, 3 - wyzsze]','Doswiadczenie latach','Zawod','Czy wypływy wieksze od dochodu']]

In [ ]:
data2['FraudDetectionProfiler'] = data2[['plec [0 - kobieta, 1 - mezczyzna]','wiek','pochodzenie','dochód miesieczny','miesieczne wplywy na konto','miesieczne wydatki z konta','czy posiada kredyt [0 - Nie / 1 - Tak]','Wyksztalcenie [0 - brak, 1 - podstawowe, 2 - srednie, 3 - wyzsze]','Doswiadczenie latach','Zawod','Czy wypływy wieksze od dochodu']].apply(Profile)

# Regresja logistyczna

In [73]:
import pandas as pd

data3 = pd.read_excel('dane_do_nauki.xlsx')

In [74]:
data3.rename(columns = {'Czy potencjalny Frauder [ 0 - nie , 1 - tak' : 'Czy wypływy wieksze od dochodu'}, inplace = True)

In [75]:
data3

      plec [0 - kobieta, 1 - mezczyzna]  ...  Czy jest Frauderem  [0 - Nie / 1 - Tak]
0                                     0  ...                                        0
1                                     1  ...                                        1
2                                     0  ...                                        0
3                                     1  ...                                        0
4                                     1  ...                                        0
...                                 ...  ...                                      ...
2995                                  0  ...                                        0
2996                                  1  ...                                        1
2997                                  1  ...                                        1
2998                                  1  ...                                        1
2999                                  1  ...                                        1

[3000 rows x 12 columns]

##Training

In [76]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data3.iloc[:,:-1], data3.iloc[:,-1], test_size = 0.2)

In [77]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [78]:
predictions = lr.predict(X_test)

###Classification report

In [79]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.52      0.65      0.58       303
           1       0.52      0.39      0.45       297

    accuracy                           0.52       600
   macro avg       0.52      0.52      0.51       600
weighted avg       0.52      0.52      0.51       600

###Confusion Matrix

In [80]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,predictions)
cm

array([[196, 107],
       [181, 116]])

# 3-level verification

In [115]:
Benford = False
Profile = False
Model = False

In [17]:
control = [Benford, Profile, Model]

In [18]:
control

[False, False, False]

##Benford

Importing test data

In [22]:
testData = pd.read_excel('dane_do_nauki2.xlsx')
testData.head()

   plec [0 - kobieta, 1 - mezczyzna]  ...  Czy wypływy wieksze od dochodu
0                                  1  ...                               1
1                                  0  ...                               0
2                                  0  ...                               0
3                                  0  ...                               0
4                                  0  ...                               1

[5 rows x 11 columns]

Na potrzeby projektu dodaje do 5 osob id od 1 do 5

In [24]:
testData['ID'] = 0

In [27]:
testData['ID'].iloc[0] = 1
testData['ID'].iloc[1] = 2
testData['ID'].iloc[2] = 3
testData['ID'].iloc[3] = 4
testData['ID'].iloc[4] = 5

In [29]:
testData.head(10)

   plec [0 - kobieta, 1 - mezczyzna]  wiek  ...  Czy wypływy wieksze od dochodu  ID
0                                  1    41  ...                               1   1
1                                  0    79  ...                               0   2
2                                  0    67  ...                               0   3
3                                  0    75  ...                               0   4
4                                  0    80  ...                               1   5
5                                  1    59  ...                               0   0
6                                  0    22  ...                               0   0
7                                  0    81  ...                               0   0
8                                  1    38  ...                               0   0
9                                  1    59  ...                               0   0

[10 rows x 12 columns]

In [ ]:
id = input('Type in clients ID: ')

numbers = data1[data1['ID_UMOWY'] == id]['KWOTA_OBCIAZENIA'].tolist()
numbers = Benfrod(numbers)
Benford = numbers.CheckBenfords

##Profiles

In [118]:
def Profile(id):
  Fraud = False

  if (int(testData[testData['ID'] == id]['wiek']) >= 36) and (int(testData[testData['ID'] == id]['wiek']) <= 55):
     Fraud = True

  return Fraud

In [119]:
Profile = Profile(1)
Profile

True

#Model

In [120]:
array = testData[testData['ID'] == 1]
array = array.iloc[:,:-1]
array

   plec [0 - kobieta, 1 - mezczyzna]  ...  Czy wypływy wieksze od dochodu
0                                  1  ...                               1

[1 rows x 11 columns]

In [121]:
Model = False

if lr.predict(array)[0] == 1:
  Model = True

In [122]:
Model

False

# Ewaluacja

In [123]:
evaluation = [Benford,Profile,Model]

evaluation

[False, True, False]

In [126]:
RiskRank = 0

for i in evaluation:
  if i == True:
    RiskRank+=1
  else:
    RiskRank+=0

RiskRank

1

In [127]:
if RiskRank == 0:
  print('Klient nie wzbudza większych podejrzeń')
elif RiskRank == 1:
  print('Warto zwrócić uwagę na klienta, jednak jego zagrożenie nie jest duże')
elif RidkRank == 2:
  print('Klient jest podejrzany. Warto mieć tą osobę pod wzmożoną kontrolą')
else:
  print('Klient jest bardzo poderzany. Rekomendowana eskalacja klienta')

Warto zwrócić uwagę na klienta, jednak jego zagrożenie nie jest duże