In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

#Data import

In [ ]:
data = pd.read_excel('dane5000.xlsx')

In [ ]:
data

     DATA_OPERACJI   ID_UMOWY  ... KATEGORIA_WG_TYTULU NADKATEGORIA
0         15/02/02  112702005  ...                 NaN          NaN
1         15/04/24  769072013  ...       WPŁATA_WLASNA          NaN
2         15/05/29  758012013  ...              POBORY       POBORY
3         15/07/08  521042011  ...                 NaN          NaN
4         15/07/09  240882006  ...              POBORY       POBORY
...            ...        ...  ...                 ...          ...
4995      15/05/08  688462013  ...            PROWIZJA          NaN
4996      15/05/13   57252005  ...              POBORY       POBORY
4997      15/05/26  286032008  ...   WYPŁATA_GOTÓWKOWA          NaN
4998      15/06/26  110642005  ...              CZYNSZ     RACHUNKI
4999      15/08/05  628592012  ...            SAMORZĄD          NaN

[5000 rows x 13 columns]

# Benfrod

##Data preprocessing

In [ ]:
IDs = data['ID_UMOWY'].unique()
IDs

array([112702005, 769072013, 758012013, ..., 924112015, 195152005,
       688462013])

In [ ]:
data['ID_UMOWY'].nunique()

2754

Mamy zbyt mało danych dotyczących jednego klienta, przypada średnio niecałe 2 transkacje na 1 klienta.

Na potrzeby projektu tworzę 5 unikalnych ID 1,2,3,4,5.

In [ ]:
import random
data['ID_UMOWY'] = data['ID_UMOWY'].apply(lambda x: random.randint(1,5))
data

     DATA_OPERACJI  ID_UMOWY  ... KATEGORIA_WG_TYTULU NADKATEGORIA
0         15/02/02         5  ...                 NaN          NaN
1         15/04/24         4  ...       WPŁATA_WLASNA          NaN
2         15/05/29         1  ...              POBORY       POBORY
3         15/07/08         3  ...                 NaN          NaN
4         15/07/09         5  ...              POBORY       POBORY
...            ...       ...  ...                 ...          ...
4995      15/05/08         5  ...            PROWIZJA          NaN
4996      15/05/13         2  ...              POBORY       POBORY
4997      15/05/26         4  ...   WYPŁATA_GOTÓWKOWA          NaN
4998      15/06/26         1  ...              CZYNSZ     RACHUNKI
4999      15/08/05         2  ...            SAMORZĄD          NaN

[5000 rows x 13 columns]

In [ ]:
data['ID_UMOWY'].nunique()

5

Teraz mamy 5 unikalnych klientów

In [ ]:
obciazenie = data[['ID_UMOWY','KWOTA_OBCIAZENIA']]
obciazenie

      ID_UMOWY  KWOTA_OBCIAZENIA
0            5              0.00
1            4              0.00
2            1              0.00
3            3           1256.83
4            5              0.00
...        ...               ...
4995         5              0.50
4996         2            287.00
4997         4            170.00
4998         1             86.35
4999         2            327.49

[5000 rows x 2 columns]

Funkcja zliczająca liczby zgodnie z regułą Benforda

In [72]:
def Benford(numbers):
    numbers = []


    for i in data:
        txt = str(i)
        numbers.append(txt[0])

    print(numbers)

    ones = []
    twos = []
    threes = []
    fours = []
    fives = []
    sixs = []
    sevens = []
    eights = []
    nines = []

    numbersInt = []

    for i in numbers:
        numbersInt.append(int(i))

    for i in numbersInt:
        if i == 1:
            ones.append(i)
        elif i == 2:
            twos.append(i)
        elif i == 3:
            threes.append(i)
        elif i == 4:
            fours.append(i)
        elif i == 5:
            fives.append(i)
        elif i == 6:
            sixs.append(i)
        elif i == 7:
            sevens.append(i)
        elif i == 8:
            eights.append(i)
        elif i == 9:
            nines.append(i)

    ones_percent = 100*len(ones)/len(numbersInt)
    twos_percent = 100*len(twos)/len(numbersInt)
    threes_percent = 100*len(threes)/len(numbersInt)
    fours_percent = 100*len(fours)/len(numbersInt)
    fives_percent = 100*len(fives)/len(numbersInt)
    sixes_percent = 100*len(sixs)/len(numbersInt)
    sevens_percent = 100*len(sevens)/len(numbersInt)
    eights_percent = 100*len(eights)/len(numbersInt)
    nines_percent = 100*len(nines)/len(numbersInt)

    return [ones_percent,twos_percent,threes_percent,fours_percent,fives_percent,sixes_percent,sevens_percent,eights_percent,nines_percent]
    
    
    # print(
    #     '1:',ones_percent,'\n','2:',twos_percent,'\n','3:',threes_percent,'\n',
    #     '4:',fours_percent,'\n','5:',fives_percent,'\n', '6:',sixes_percent,'\n',
    #     '7:',sevens_percent,'\n','8:',eights_percent,'\n','9:',nines_percent ,'\n')


    # print('2:',twos_percent,'\n')
    # print('3:',threes_percent,'\n')
    # print('4:',fours_percent,'\n')
    # print('5:',fives_percent,'\n')
    # print('6:',sixes_percent,'\n')
    # print('7:',sevens_percent,'\n')
    # print('8:',eights_percent,'\n')
    # print('9:',nines_percent ,'\n')

    # import pandas as pd

    # numbersdf = pd.DataFrame(numbers)
    # numbersdf.columns = ['values']

    # sns.countplot(x='values',data=numbersdf,palette = 'BuGn_r')

Funkcja sprawdzająca czy rozkład Benforda jest zgodny z naturalnym rozłożeniem liczb czy też nie

Tworzę listę unikalnych IDs

In [ ]:
listaIDs = list(obciazenie['ID_UMOWY'].unique())
listaIDs

[5, 4, 1, 3, 2]

dla każdego z 5 klientów sprawdzę rozkład kwot obciążenia konta wg. Reguły Benforda

In [ ]:
for i in listaIDs:
  numbers = obciazenie[obciazenie['ID_UMOWY']==i]['KWOTA_OBCIAZENIA'].tolist()
  Benford(numbers)

# Fraudster profiles

source: https://home.kpmg/xx/en/home/insights/2016/05/global-profiles-of-the-fraudster.html

between the ages of 36 and 55 (69 percent of fraudsters investigated)
predominantly male (79 percent), with the proportion of women on the rise at 17 percent, up from 13 percent in 2010
a threat from within (65 percent are employed by the company)
holds an executive or director level position (35 percent)
employed in the organization for at least six years (38 percent)
described as autocratic (18 percent) and are three times as likely to be regarded as friendly as not
esteemed, describing themselves as well-respected in their organization
likely to have colluded with others (62 percent of frauds, down just slightly from 70 percent in the 2013 survey)
motivated by personal gain (60 percent), greed (36 percent) and the sense of ‘because I can’ (27 percent).

In [ ]:
def profile(df):
  if x['wiek'] >= 36 and x['wiek'] <= 55 and x['płeć'] == 'male' and x['employed'] = True and x['work experience'] > 6"


df_profiles = df[['wiek','plec','plec','employes','work experience']]

SyntaxError: ignored

# Regresja logistyczna

In [ ]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

##Training

###Classification report

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

###Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix
a = confusion_matrix(y_test,predictions)
a

# 3-level verification

In [ ]:
Benford = False
Profile = False
Model = False